$color: rgb(30,123,100);
$font-family: monospace;

h1{
    color: $color;
}

.fieldNamesLabel{
    font-family: $font-family;
    font-size: 17px;
}

.fieldSet{
    //display: inline-block;
}

.fieldSet > div{
    margin: 3px 3px 3px 3px;
}

.parent{
    text-align: center;
}

.defaultTextField{
 // width: 80%;
  padding: 8px 16px;
  //margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.defaultTextField:focus{
    border: 3px solid #555;
}

.msgErrorFieldHidden{
    display: none;
}

.msgErrorFieldShow{
    font-size: 14px;
    color: red;
    display: block;
}

.containerButtonCancelAndConfirm{
    display: inline-flex
}

.buttonAccept{
    border-radius: 12px;
    background-color: $color;
    color: white;
    padding: 15px 32px;
    outline: none;
    cursor: pointer;
}

.buttonCancel{
    border-radius: 12px;
    background-color: rgb(108, 131, 125);
    color: white;
    padding: 15px 32px;
    outline: none;
    cursor: pointer;
}

.buttonConfirm{
    border-radius: 12px;
    background-color:rgb(30, 123, 154);
    color: white;
    padding: 15px 32px;
    outline: none;
    cursor: pointer;
}

.buttonAccept:hover{
    background-color: rgb(41, 150, 123);
}

.buttonHomeRecord{
    border-radius: 12px;
    background-color: $color;
    color: white;
    padding: 15px 32px;
    outline: none;
    cursor: pointer;
}

.acceptanceViewMessage{
    font-size: 20px;
    color: $color;
    font-family: $font-family;
}

.ulMenu{
    margin-left: 42%;
    margin-right: 42%;
    list-style: none;
}

.listMenu{
    width: fit-content;
}

@media only screen and (min-width: 1024px) { 
    .ulMenu{
        margin-left: 42%;
        margin-right: 42%;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1000px){
    .ulMenu{
        margin-left: 37%;
        margin-right: 37%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 779px){
    .ulMenu{
        margin-left: 33%;
        margin-right: 33%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px){
    .ulMenu{
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    .ulMenu{
        margin-left: 20%;
        margin-right: 20%;
    }
}